.contact-page-container {
  margin-top: 140px;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  margin-bottom: 80px;
}

.contact-page-container-large {
  margin: 0 auto;
  width: 90vw;
  height: calc(100vh - 120px);
  margin-top: 140px;
}

.contact-page-content {
  width: 75vw;
  margin: 0 auto;
  padding: 24px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
}

.contact-page-text {
  margin-right: 48px;
}

.map-container {
  max-width: 350px;
  min-width: 250px;
  flex: 1 1 auto;
  margin: 40px auto;
}

#map {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  border: 1px solid #A9A9A9;
  height: 250px;
}

.contact-large {
  display: flex;
  justify-content: space-between;
}

.map-container-large {
  max-width: 350px;
  min-width: 250px;
  flex: 1 1 auto;
}

#map-large {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  border: 1px solid #A9A9A9;
  height: 350px;
}


