.banner {
  background: image-url('wesofod.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 480px;
}

.text-box {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  position: absolute;
  background-color: white;
  right: 40px;
  top: 150px;
  max-width: 240px;
  padding: 16px;
  color: $primary-color;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.read-more-button {
  color: white !important;
  text-decoration: none !important;
}

.home-container {
  width: 750px;
  margin: 0 auto;
  h1 {
    color: $primary-color;
  }
}

.home-image {
  width: 100%;
  margin: 16px;
}
