// .secondary-container {
//   // margin-top: 80px;
//   // width: 750px;
//   margin-left: auto;
//   margin-right: auto;
// }

.secondary-page-container {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.secondary-image-banner {
  width: 90%;
  margin-bottom: 40px;
  box-shadow: 0 3px 20px rgba(62, 9, 11, 0.3);
}

.secondary-text {
  width: 75vw;
  padding: 24px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
}

.secondary-header {
  color: $primary-color;
  margin-bottom: 24px;
}

.second-image {
  margin-top: 40px;
}

////---- RRC ----////

.rrc-secondary-text {
  margin-top: 40px;
}
.rrc-image {
  width: 100%;
  margin: 20px 0px;
  box-shadow: 0 3px 20px rgba(62, 9, 11, 0.3);
}

////---- Village of Hope ---////

.village-image {
  width: 100%;
  margin-top: 56px;
  box-shadow: 0 3px 20px rgba(62, 9, 11, 0.3);
}


