<div class="footer">

  <a href="https://www.facebook.com/people/Wesofod-Kambia/100009048126096" target="_blank" class="icon"><i class="fab fa-facebook-square"></i></a>

  <a href="https://www.instagram.com/wesofod/" target="_blank"  class="icon"><i class="fab fa-instagram"></i></a>

  <a href="https://twitter.com/wesofod?lang=en" target="_blank" class="icon"><i class="fab fa-twitter-square"></i></a>

  <a href="mailto:disabilitynotinability@gmail.com" target="_blank" class="icon"><i class="fas fa-envelope-square"></i></a>

</div>
