<div class="secondary-page-container">

  <%= image_tag "kids", class: 'secondary-image-banner' %>
  <div class="secondary-text">
    <h4 class="secondary-header">About</h4>
    <p class="text-justify">
      The Welfare Society for the Disabled (WESOFOD) is a local non-governmental organisation committed to improving the quality of lives of persons with disabilities in Kambia District, Sierra Leone. The Organisation was established in 2004 and was born as a result of the increasing number of persons with disabilities being abandoned and living a life of hopelessness. The organisation takes care of cross disabilities affected people: most of them are affected by polio, but there are also cases of blindness, albinism and results of accidents. It is nationally and internationally recognised and has represented Sierra Leone in international fora.
    </p>
    <p class="text-justify">
      WESOFOD realizes that the person with a disability has a useful hidden ability and aims to identify and improve this ability, while developing a friendly environment where this ability can be utilized to the fullest. The organisation was crucial during the Ebola crisis (which hit Kambia hard, due to its proximity with Guinea), and thanks also to funding from Children in Crisis, WESOFOD was able to take care of PWDs (people with disabilities), otherwise totally neglected in such a perilous context.
    </p>
    <p class="text-justify">
      <a href="/village" class="link">The Village of Hope</a> and the <a href="/rrc" class="link">Residential Rehabilitation Centre</a> (RRC) function as centres of aggregation for PWDs, where they can talk, share their feelings and thoughts, support each other and face together the social stigma that still surrounds them.
    </p>
  </div>

  <div class="joseph">
    <div class="joseph-text">
      <h4 class="secondary-header">Joseph Kamara</h4>
      <p class="text-justify">
        Joseph is the founder of WESOFOD.
      </p>
    </div>
    <%= image_tag "joseph", class: 'joseph-image' %>
  </div>
</div>


<%= render 'shared/footer' %>
