<div class="d-none d-lg-block">
  <div class="contact-page-container-large">
    <div class="contact-page-content">

      <div class="contact-large">
        <div class="contact-page-text">
          <h4 class="secondary-header">Contact</h4>
          <p class="text-justify">
            <strong>Address:</strong> The Welfare Society for the Disabled, The Village of Hope, Bamoi Luma, Kambia District, Sierra Leone
          </p>
          <p>
            <strong>Email:</strong> disabilitynotinability@gmail.com
          <p>
            <strong>Phone number:</strong> +232 77 58 63 29 or +232 78 69 84 60
          </p>
          </p>
        </div>

        <div class="map-container-large">
          <div id='map-large'></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="contact-page-container d-lg-none">

  <div class="contact-page-content">

    <div class="contact-small-screen">
      <div class="contact-page-text">
        <h4 class="secondary-header">Contact</h4>
        <p class="text-justify">
         <strong>Address:</strong> The Welfare Society for the Disabled, The Village of Hope, Bamoi Luma, Kambia District, Sierra Leone
        </p>
        <p>
          <strong>Email:</strong> disabilitynotinability@gmail.com
        <p>
          <strong>Phone number:</strong> +232 77 58 63 29
        </p>
        </p>
      </div>

      <div class="map-container">
        <div id='map'></div>
      </div>
    </div>

  </div>
</div>

<%= render 'shared/footer' %>

<%= javascript_pack_tag "map" %>


