<div class="banner">
  <div class="text-box">
    <p>
      WESOFOD is a community-based NGO committed to improving the quality of lives of persons with disabilities in Kambia District, Sierra Leone
    </p>
    <%= link_to 'READ MORE', about_path, class: 'button read-more-button' %>
  </div>
</div>

<%= render 'shared/footer' %>
