<div class="secondary-page-container">

  <%= image_tag "rrc-1", class: 'secondary-image-banner' %>
  <div class="secondary-text">
    <h4 class="secondary-header">The Residential Rehabilitation Centre</h4>
    <p class="text-justify">
      In Kambia Town, thanks to Children in Crisis’ funding, WESOFOD manages the RRC, a centre that welcomes and lodges CWDs (children with disabilities) that have been abandoned by their families and would otherwise be alone in the street.
    </p>
    <p class="text-justify">
      In this very rural and isolated region, disabled children often face the indignity of being carried into and out of public buildings, or having to go into the bush to go to the toilet.
    </p>
    <p class="text-justify">
      The RRC has been built to give as much independence as possible. The doorways are wide to accommodate mobility aides, there are ramps into and out of the building. The toilets are disabled-access. The children each have a bed of their own. The plumbing means that the children no longer have to struggle getting water from the well every day.
    </p>
    <p class="text-justify">
      Having a home which offers such basic freedoms means so much to these children.
    </p>
  </div>

  <%= image_tag "teaching", class: 'secondary-image-banner second-image' %>

</div>

<%= render 'shared/footer' %>
