<div class="secondary-page-container">

  <%= image_tag "village-of-hope", class: 'secondary-image-banner' %>

  <div class="secondary-text">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4 class="secondary-header">The Village of Hope</h4>
        <p class="text-justify">
          The Village of Hope is a residential, training, working and marketing centre for disabled people and their families. It homes over 75 people in total.
        </p>
        <p class="text-justify">
          There are several active shops and workshops in the Village including a carpenter, a coal-pot maker, a blacksmith, a tailor, and a wheelchair and crutch production and repair shop.
        </p>
        <p class="text-justify">
          A small section of the Village dates back to the 1990s, before the civil war interrupted all activities. Recently, thanks to a six-month project ending in March 2019 with Trocaire - an Irish charity - the Village has been provided with funds to build a disabled friendly toilet with running water and an exhibition centre, and to buy tools and materials for carpentry, tailoring and metal work. Every building in the centre is now disabled-friendly with the appropriate ramps, handles and other facilities. The project also comprises of a three-month awareness raising programme implemented by the local community radio station.
        </p>
        <p class="text-justify">
          In the Village of Hope, people with disabilities from many parts of Sierra Leone are involved in an apprenticeship scheme, which provides them with working skills that often allow them to return to their communities. The Village also serves as a point of contact for people with disabilities, parents of children with disabilities and the wider community.
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag "wesofod-new", class: 'village-image' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
