<div class="secondary-page-container">

  <%= image_tag "village-of-hope", class: 'secondary-image-banner' %>
  <div class="secondary-text">
    <h4 class="secondary-header">The Village of Hope</h4>
    <p class="text-justify">
      The Village of Hope is a residential, training, working and marketing centre for disabled people and their families, 75 people in total, built on a piece of land donated by the local community. Several shops and workshops are active in the Village: carpenter, coal-pot maker, blacksmith, wheelchair and crutch production/repair shop and tailor.
    </p>
    <p class="text-justify">
      A small embryo of the Village actually dates back to the 90s, before the civil war wasted the country and interrupted all activities. Recently, thanks to a six-month project ending this March with “Trocaire” (an Irish charity), the Village has been provided funds to build a disabled friendly toilet with running water and an exhibition centre, and buy tools and materials for carpentry, tailoring and metal work. Every facility in the centre is now disabled friendly, with appropriate ramps, handles, etc. The project also comprises a three-month awareness raising programme implemented by means of the local community radio station.
    </p>
    <p class="text-justify">
      In the Village of Hope, PWDs from many parts of Sierra Leone are involved in an apprenticeship system, who provides them with working skills that often allow them to return to their communities. The village also serves as a point of contact for PWDs, parents of CWDs and the wider community.
    </p>
  </div>

</div>

<%= render 'shared/footer' %>
